@import '../variables';
@import '../mixins';

.#{$prefix}-ui-playbackcurrenttimebutton {
  @extend %ui-button;

  @include focusable;

  color: #fff;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: auto 0.5em;
  min-width: auto;

  .#{$prefix}-label {
    display: block;
  }

  &:hover {
    @include svg-icon-shadow;
  }
}
