@import '../variables';

%ui-settings-panel-page {
  display: none;

  &.#{$prefix}-active {
    display: block;
  }

  // A "line" in the panel: a container holding a label + control
  .#{$prefix}-container-wrapper > * {
    // Labels
    &.#{$prefix}-ui-label {
      display: inline-block;
      font-size: 0.8em;
      width: 45%;

      &.#{$prefix}-ui-keyboard-shortcuts-opan-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1em 0;
        margin: 0;
        border-top: 1px solid transparentize($color-secondary, 0.7);
        .#{$prefix}-ui-settingspanelpageopenbutton {
          background-image: url('../../assets/skin-modern/images/playlist.svg');
        }
      }
    }

    // Controls (e.g. selectbox)
    &.#{$prefix}-ui-selectbox {
      margin-left: 10%;
      width: 45%;
    }
  }

  .#{$prefix}-ui-settings-panel-item {
    border-bottom: 1px solid transparentize($color-secondary, .7);
    padding: .5em 0;
    white-space: nowrap;

    &.#{$prefix}-last {
      border-bottom: 0;
    }

    &.#{$prefix}-hidden {
      display: none;
    }
  }

  &.#{$prefix}-ui-keyboard-shortcuts-view-pannel {
    .#{$prefix}-ui-label {
      margin: 0;
      &:first-child {
        width: 150px;
      }
      &:last-child {
        width: 50px;
      }
    }
    .#{$prefix}-ui-settingstogglebutton {
      background-image: url('../../assets/skin-modern/images/close.svg');
      background-size: 15px 15px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.#{$prefix}-ui-settings-panel-page {
  @extend %ui-settings-panel-page;
}
